<h2 style="margin-top:0;">
    Slider Text
    <f:if condition="{pi_flexform_transformed.settings.type} == 'left'">
        (Bild links)
    </f:if>
    <f:if condition="{pi_flexform_transformed.settings.type} == 'right'">
        (Bild rechts)
    </f:if>
</h2>

<h3>{pi_flexform_transformed.settings.headline1}<br>{pi_flexform_transformed.settings.headline2}</h3>
<f:for
    each="{pi_flexform_transformed.settings.references}"
    as="reference"
    key="key"
    iteration="iterator"
>
    <f:if condition="{iterator.index} == '0'">
        <f:image src="/uploads/tx_fsfzollerslidertext/{reference.item.img1}" width="150" height="150" />
    </f:if>
</f:for>

