.fsf-zoller-slidertext {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fsf-zoller-slidertext-wrapper {
    min-height: 100vh;
    margin-bottom: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fsf-zoller-slidertext-wrapper.withborder {
    border: 50px solid #dadada;
}

.fsf-zoller-slidertext-wrapper.withborder.yellow-border {
    border: 50px solid #f0e600;
}

.fsf-zoller-slidertext .slider-image-right {
    width: 100%;
    height: auto;
}

.fsf-zoller-slidertext .slider-image-left {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.fsf-zoller-slidertext .headline {
    font-size: 3rem;
}

.fsf-zoller-slidertext .slick-prev {
    left: 15px;
    width: 60px;
    height: 60px;
    top: 35%;
    z-index: 99;
}

.fsf-zoller-slidertext .slick-next {
    right: 15px;
    width: 60px;
    height: 60px;
    top: 35%;
    z-index: 99;
}

.fsf-zoller-slidertext .slick-prev:before {
    content: url("/typo3conf/ext/bootstrap_package/Resources/Public/Icons/black/arrow_left.png");
}

.fsf-zoller-slidertext .slick-next:before {
    content: url("/typo3conf/ext/bootstrap_package/Resources/Public/Icons/black/arrow_right.png");
}

@media (max-width: 1200px) {
    .fsf-zoller-slidertext {
        margin-bottom: 30px !important;
    }

    .fsf-zoller-slidertext .headline {
        font-size: 2rem;
    }

    .fsf-zoller-slidertext .col-12.order-xl-1 {
        margin-top: 2rem;
    }
    .fsf-zoller-slidertext .slick-next {
        right: 0px;
        width: 40px;
        height: 40px;
        top: 35%;
        z-index: 9999;
    }

    .fsf-zoller-slidertext .slick-prev {
        left: 0px;
        width: 40px;
        height: 40px;
        top: 35%;
        z-index: 9999;
    }

    .fsf-zoller-slidertext-wrapper.withborder {
        border: 17px solid #dadada;
    }

    .fsf-zoller-slidertext-wrapper.withborder.yellow-border {
        border: 17px solid #f0e600;
    }
}

.image-container {
    position: relative;
}

.slider-mask {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
